{
  "parser": "babel-eslint",
  "extends": "standard",
  "env": {
    "jest": true
  },
  rules: {
    "curly": ["error", "all"],
    "brace-style": ["error", "1tbs"],
    "semi": ["error", "always", { "omitLastInOneLineBlock": true}]
  }
}
